.landing{
    /* background-image:url(../images/backgrounds/home1.jpg); */
    height: 700px;
    width: 100%;
    background-size: cover;
    
}
#start-head{
    text-transform: uppercase;
}
.empty1{
   height: 240px;
   width: 100%;
}
.logo-home{
   height: 400px;
   width: 100%;
   text-align: center;
   color:white;
}
.mouse{
   height: 60px;
   width: 100%;
   text-align: center;
}
#about{
    padding-top: 10px;
}
#about-upper{
    height: 130px;
    width: 100%;
    text-align: center;

}
.about-upper{
    padding: top 20px;
}
#about-lower{
    height: 130px;
    width: 100%;
    text-align: center;
}
.services{
    height: 320px;
    width: 100%;
    background-size: cover;
}
.blank-service{
    height: 90px;
    width: 100%;
}
.blank-service2{
    height: 10px;
    width: 100%;
}
.b-service{
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
}

.we-do{
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}
#we-do{
    padding-top:20px;
    text-transform: uppercase;
    text-align: center;
}
.portfolio{
    padding: top 20px;
    text-transform: uppercase;
    text-align: center;
}
.upper{
    height: 220px;
    
}
.lower{
    height: 220px;

}

.contact{
    height: 400px;
    width: 100%;
    background-size: cover;
}
#contact{
    margin-top:100px;
    opacity: 0.3; 
}
#fade{
     border: 2px solid white;
     
}
.contact-us{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top:20px;
}
#portimg{
    /* background-image: url(../images/portfolio/work8.jpg); */
}
#social{
    margin-top:  20px;
}
.nametag{
    text-align: center;
    margin-top:10 px;
    font-weight: bold;
}
.development{
    text-align: center;
    display: none;
    background-color: rgba(63, 52, 52, 0.5);
    width: 100%;
    text-transform: lowercase;
}
.design{
    text-align: center;
    display: none;
    background-color: rgba(63, 52, 52, 0.5);
    width: 100%;
    text-transform: lowercase;

}
.product{
    text-align: center;
    display: none;
    background-color: rgba(63, 52, 52, 0.5);
    width: 100%;
    text-transform: lowercase;
}
.bg-modal,.bg-work3,.bg-work2,.bg-work1,.bg-work5,.bg-work6,.bg-work7,.bg-work8{
    width: 180px;
    height: 180px;
    background-color:white;
    position: relative;
    top: 0;
    display: none;
    border:2px solid black;
    text-align: center;
}
.outer8{
    height:180px;
    width:200px;
    background-color:rgba(0, 0, 0, 0.911);
    
}
.front8{
    height:150px;
    width:150px;
    background-color:rgba(0, 0, 0, 0.562);
    color: white;
    text-transform: uppercase;
    border: 2px solid yellow;
    margin: 15px auto;
    padding-top:5px;
}
#work4,#work3,#work2,#work1,#work5,#work6,#work7,#work8{
    width: 100px;
    height:100px;
    border-radius:50%;
    
}
.close{
    position: absolute;
    top: 0;
    right:14px;
    font: size 52px;
    transform: rotate(45deg);
    cursor: pointer;
}
.modal-content{
      
       background-color:white;
       opacity: 1;
       display: none;
}
.all{
    color:white;
    display:none;
}