.landing{
    /* background-image:url(../images/backgrounds/home1.jpg); */
    height: 700px;
    width: 100%;
    background-size: cover;
    
}
#start-head{
    text-transform: uppercase;
}
.empty1{
   height: 240px;
   width: 100%;
}
.logo-home{
   height: 400px;
   width: 100%;
   text-align: center;
   color:white;
}
.mouse{
   height: 60px;
   width: 100%;
   text-align: center;
}
#about{
    padding-top: 10px;
}
#about-upper{
    height: 130px;
    width: 100%;
    text-align: center;

}
.about-upper{
    padding: top 20px;
}
#about-lower{
    height: 130px;
    width: 100%;
    text-align: center;
}
.services{
    height: 320px;
    width: 100%;
    background-size: cover;
}
.blank-service{
    height: 90px;
    width: 100%;
}
.blank-service2{
    height: 10px;
    width: 100%;
}
.b-service{
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
}

.we-do{
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}
#we-do{
    padding-top:20px;
    text-transform: uppercase;
    text-align: center;
}
.portfolio{
    padding: top 20px;
    text-transform: uppercase;
    text-align: center;
}
.upper{
    height: 220px;
    
}
.lower{
    height: 220px;

}