.landing{
    /* background-image:url(../images/backgrounds/home1.jpg); */
    height: 700px;
    width: 100%;
    background-size: cover;
    
}
#start-head{
    text-transform: uppercase;
}
.empty1{
   height: 240px;
   width: 100%;
}
.logo-home{
   height: 400px;
   width: 100%;
   text-align: center;
   color:white;
}
.mouse{
   height: 60px;
   width: 100%;
   text-align: center;
}